<link rel="dns-prefetch" href="https://assets.gumroad.com">
<script type="module">
  let p;
  document.querySelector('hy-push-state').addEventListener('load', () => {
    const io = new IntersectionObserver(async (entries) => {
      if (Array.from(entries).some(x => x.isIntersecting)) {
        p = p || new Promise(res => window.loadJS('https://gumroad.com/js/gumroad-embed.js', res));
        await p;
        await new Promise(r => setTimeout(r, 100));
        if (!window.GumroadEmbed && 'createGumroadEmbed' in window) window.createGumroadEmbed();
        window.GumroadEmbed.reload();
      }
    }, { rootMargin: '1440px' });
    document.querySelectorAll('.gumroad-product-embed').forEach(el => io.observe(el));
  });
</script>
<script type="module">
  let p;
  document.querySelector('hy-push-state').addEventListener('load', () => {
    const io = new IntersectionObserver(async (entries) => {
      if (Array.from(entries).some(x => x.isIntersecting)) {
        p = p || new Promise(res => window.loadJS('https://gumroad.com/js/gumroad.js', res));
        await p;
        await new Promise(r => setTimeout(r, 100));
        if (!window.GumroadOverlay && 'createGumroadOverlay' in window) window.createGumroadOverlay();
      }
    }, { rootMargin: '300px' });
    document.querySelectorAll('.gumroad-button').forEach(el => io.observe(el));
  });
</script>