<!--
Code used for embedding Gumroad on the Hydejack Site. 
Left here for reference, feel free to delete.
-->
<link rel="dns-prefetch" href="https://assets.gumroad.com">
<script type="module">
  let p;
  const promisify = f => x => new Promise(r => f(x).addEventListener('load', r));
  const loadJS = promisify(window.loadJS);
  document.querySelector('hy-push-state').addEventListener('load', () => {
    const io = new IntersectionObserver(async (entries) => {
      if (entries.some(x => x.isIntersecting)) {
        p = p || loadJS('https://gumroad.com/js/gumroad-embed.js');
        await p;
        if (!window.GumroadEmbed) {
          await new Promise(function check1(res) {
            if ('createGumroadEmbed' in window) res(window.createGumroadEmbed());
            else setTimeout(() => check1(res), 200);
          });
        }
        await new Promise(function check2(res) {
          if ('GumroadEmbed' in window) res(GumroadEmbed.reload());
          else setTimeout(() => check2(res), 200);
        });
      }
    }, { rootMargin: '1440px' });
    document.querySelectorAll('.gumroad-product-embed').forEach(el => io.observe(el));
  });
</script>
<script type="module">
  let p;
  const promisify = f => x => new Promise(r => f(x).addEventListener('load', r));
  const loadJS = promisify(window.loadJS);
  document.querySelector('hy-push-state').addEventListener('load', () => {
    const io = new IntersectionObserver(async (entries) => {
      if (entries.some(x => x.isIntersecting)) {
        p = p || loadJS('https://gumroad.com/js/gumroad.js');
        await p;
        if (!window.GumroadOverlay) {
          await new Promise(function check(res) {
            if ('createGumroadOverlay' in window) res(window.createGumroadOverlay());
            else setTimeout(() => check(res), 200);
          });
        }
      }
    }, { rootMargin: '300px' });
    document.querySelectorAll('.gumroad-button').forEach(el => io.observe(el));
  });
</script>
