.search-input {
  color: $body-text-color;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  outline: 1px solid $border-color;
}

::-webkit-scrollbar-thumb {
  background: $body-text-color;
}

.breadcrumb-nav:not(.breadcrumb-nav-custom) { display: none; }

.breadcrumb-nav-custom {
  margin-left: -1.5rem;
}

.input-types-item:not(:last-of-type)::after {
  content: ', ';
}

$status-alpha-bg-color: rgb(24%, 30%, 40%);
$status-alpha-fg-color: rgb(13%, 81%, 81%);
$status-beta-bg-color: rgb(10%, 16%, 24%);
$status-beta-fg-color: rgb(13%, 81%, 81%);
$status-deprecated-bg-color: rgb(19%, 21%, 21%);
$status-deprecated-fg-color: rgb(64%, 81%, 81%);

.label.status-alpha {
  background-color: $status-alpha-bg-color;
  color: $status-alpha-fg-color;
}
.label.status-beta {
  background-color: $status-beta-bg-color;
  color: $status-beta-fg-color;
}
.label.status-deprecated {
  background-color: $status-deprecated-bg-color;
  color: $status-deprecated-fg-color;
}
.main-content .keywords {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-content .keywords-label {
  margin-right: .5em;
}

.main-content ul.keyword-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-content ul.keyword-list li {
  padding-left: 0;
  list-style: none;
  display: inline;
}
.main-content ul.keyword-list > li:not(:last-child)::after {
  content: ',';
  display: inline;
}

.main-content .keyword-list {
  display: inline-block;
  list-style: none;
}
.main-content .keyword-list > li::before {
  display: none;
}
